body {
  color: #666;
  background: #fff url('../images/vim-diesel.png') no-repeat fixed right top;
}

a {
  color: #007200;
  text-decoration: none;
}

a:visited {
  color: #4cbb17;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

h1 {
  margin: 10px 0 40px 0;
}

h2 {
  margin: 10px;
  font-size: 1.3em;
}

blockquote {
  margin: 2em 1em;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  font-style: italic;
}
