<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="cmonkey richmond programmer java" />
  <meta name="description" content="Here lies cmonkey" />
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
  <!--<title>{{ page.title }}</title>-->
  <title>Cmonkey:My Blog</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
<div id="content">
  {{ content }}
</div>
</body>
</html>

